
#a0-onestep .a0-header {
	
 background:#141414 !important;
}

#a0-onestep .a0-header  .a0-bg-gradient {
 position:inherit !important;
}

#a0-onestep .a0-body-content { background:#1a1a1a !important; }
#a0-lock.a0-theme-default .a0-panel .a0-mode form .a0-body-content,#a0-lock.a0-theme-default .a0-panel 
{
	background-color:#1a1a1a !important;
}
#a0-lock.a0-theme-default .a0-switch span { color:#fff !important;}

.a0-primary { background:#e50914 !important; bottom:0px !important;;}

#a0-lock.a0-theme-default .a0-panel .a0-close { background:#434343 !important;
    border: 6px solid #434343 !important; }
 
#a0-lock.a0-theme-default .a0-panel .a0-email input, #a0-lock.a0-theme-default .a0-panel .a0-password input, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input, #a0-lock.a0-theme-default .a0-panel .a0-username input {
 
 background-color: #1d1d1d !important;
  color: #ddd !important;
} 

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box {
 background:#343434 !important;
     border: 1px solid #343434 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-all, #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color:#ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-separator {
color:#ddd !important; 
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color:#ddd !important; 
	padding-bottom:20px !important;
	margin-top:-10px !important;
}

.a0-footer {
    display:none !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image {
	background-image: url(../images/icons/96x96.png) !important;
    background-size: 72px 72px !important;
    background-repeat: no-repeat !important;
	background-position: center !important;
    height: 125px !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img {
	display:none !important;
	}

#a0-lock.a0-theme-default .a0-panel .a0-mode-container {
    background: #1a1a1a !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-sso-notice-container {
    background: #1a1a1a !important;
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode {
    background: #1a1a1a !important;
}

.a0-close svg polygon { fill:#fff !important; }

.returnlast {float:right;
    color: #666;
    text-decoration: none !important;
    font-weight: bold;
}

#a0-lock.a0-theme-default .a0-panel .a0-instructions {
    background:transparent !important;
    color: #ddd !important;
}
